html {
    font-family: Arial, Helvetica, sans-serif;
}

body menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 24px 56px;
}

body menu ul {
    display: flex;
    gap: 56px;
}

body menu ul li {
    align-items: center;
    display: flex;
    gap: 56px;
    list-style: none;
}

body menu ul li a {
    color: #118596;
    text-decoration: none;
}

body menu ul li button {
    background: #118596;
    border-radius: 5px;
    color: #ffffff;
    padding: 16px 32px;
} 

body  section {
    height: 100vh;
    position: relative;
    width: 100%;
}

body section div img {
    height: 100%;
    width: 100%;
}

body section article{
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    justify-content: center;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 67%;
}

body section article h1 {
    color: #ffb600;
    font-size: 48px;
    line-height: 75px;
    text-align: center;
}

body section article button {
    background: #ffb600;
    border-radius: 5px;
    color: #ffffff;
    padding: 16px 32px;
}
